body {
    background-image: url(./docs/assets/img/image_6.JPG);
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  
}